extends templates/template.pug

block content
  h1 Blog
  p This is the future site of my blog. I'm currently working on a tool using markdown, pug and nodejs to generate static blog pages.
  br
  p Please feel free to checkout my other projects using the "Projects" link on the left.
