
extends templates/template.pug

block content

  div(class='social-group')
    a(class='social-button', href='https://twitter.com/carterhay')
      div
        img(src='img/Twitter.png')

    a(class='social-button', href='https://github.com/clccmh')
      div
        img(src='img/Github.png')

    a(class='social-button', href='https://linkedin.com/in/carter-hay')
      div
        img(src='img/linkedin.png')

  div(class='main')
    div(class='tagline')
      h1 Carter Hay
      h3 Software Engineer
      h3: a(href='mailto:carter@carterhay.net') carter@carterhay.net

    div(class='projects-grid')
      h3 Carter Karts
      a(class='button', href='https://github.com/clccmh') Github
      br
      a(class='button', href='https://karts.carterhay.net') Play It

