
extends templates/template.pug

block content
  div(class="pure-g")
    div(class='pure-u-1 pure-u-lg-1-2')
      div(class='project-card')
        img(src='img/it-fits-screenshot-scaled.png'
            alt='It Fits')
        h4(class='card-title') It Fits
        p(class='card-text').
          It Fits is a game written with the engine Torque2D. It is a puzzle
          game based on tetris-like peices. The goal is to get each peice
          provided to fit on the board.
        a(class='pure-button pure-button-primary', href='https://github.com/carterhay/ItFits') View It On Github

    div(class='pure-u-1 pure-u-lg-1-2')
      div(class='project-card')
        img(src='img/carterkarts.png'
            alt='Carter Karts')
        h4(class='card-title') Carter Karts
        p(class='card-text').
          This project is a racing game for my college game development class
          implemented in javascript using the framework Phaser.
        a(class='pure-button pure-button-primary', href='https://github.com/carterhay/CarterKarts') View It On Github

    div(class='pure-u-1 pure-u-lg-1-2')
      div(class='project-card')
        img(src='img/recipebook-scaled.png'
          alt='RecipeBook')
        h4(class='card-title') RecipeBook
        p(class='card-text').
          RecipeBook is an android app written for my college app development class, 
          that stores and categorizes recipes. It can also convert quantities, 
          and adjust recipes based on the amount of people.
        a(class='pure-button pure-button-primary', href='https://github.com/carterhay/RecipeBook') View It On Github

    div(class='pure-u-1 pure-u-lg-1-2')
      div(class='project-card')
        // img(src='img/recipebook-scaled.png'
            // alt='RecipeBook')
        h4(class='card-title') Ruby MITM Proxy
        p(class='card-text').
          This is an HTTP/HTTPS MITM proxy written in Ruby. It was first written as 
          a semester project for a security class.
        a(class='pure-button pure-button-primary', href='https://github.com/carterhay/MITM-Proxy') View It On Github

    div(class='pure-u-1 pure-u-lg-1-2')
      div(class='project-card')
        img(src='img/mazer.png'
          alt='Mazer')
        h4(class='card-title') Mazer
        p(class='card-text').
          Mazer is a procedural maze generator based on Prim's algorithm, 
          written in python. I would like it to eventually be a library for
          generating different types of mazes using different algorithms.
        a(class='pure-button pure-button-primary', href='https://github.com/carterhay/Mazer') View It On Github

    div(class='pure-u-1 pure-u-lg-1-2')
      div(class='project-card')
        // img(src='img/recipebook-scaled.png'
            // alt='RecipeBook')
        h4(class='card-title') This Website
        p(class='card-text').
          This website is my third itteration of the site. I've decided to 
          move to a non-dynamic website model. I'm using Pug for html pre-processing.
        a(class='pure-button pure-button-primary', href='https://github.com/carterhay/carterhay.net') View It On Github
