$primary: #b71c1c;
$primary-light: #f05545;
$primary-dark: #7f0000;

.project-card {
  padding-top: 10px;
  padding-bottom: 10px;
}

.menu-item-divided {
  border-top: 1px solid #777;
}

.content {
  padding-left: 15.5em;
  padding-right: 0.5em;
}

.sidebar {
  // padding-right: 1px;
  border-right: 1px solid #777;
  position: fixed;
  width: 15em;
  top: 0;
  bottom: 0;

  .pure-menu-heading {
    color: $primary;
    font-size: 150%;
    padding: 0.25em 0.5em;
  }
  .pure-menu-list {
    .pure-menu-item {
      .menu-link {
        img {
          margin: 0.5em 1em;
          width: 2em;
          height: auto;
        }
      }
    }
  }
}

.content {
  //background: $primary;
}

@media (max-width: 45em) {
  .sidebar {
    position: static;
    border: none;
    width: 100%;
  }
  .content {
    padding-left: 0;
    padding-right: 0;
  }

}
