$primary: #b71c1c;
$primary-light: #f05545;
$primary-dark: #7f0000;

div .card-block {
  .btn-primary {
    background-color: $primary;
    border-color: $primary;
    &:hover {
      background-color: $primary-dark;
      border-color: $primary-dark;
    }
  }
}

nav.navbar.navbar-toggleable-sm.navbar-light.rounded.bg-faded {
  background-color: $primary-dark;
  div.collapse.navbar-collapse {
    a.navbar-brand {
      color: white;
    }
    ul.navbar-nav.navbar-toggler-right {
      li.nav-item {
        a.nav-link {
          color: white;
          &:hover {
            color: lightgrey;
          }
        }
      }
    }
  }
}

link.nav-link {
  color: white;
}

a .navbar-brand {
  color: red;
}
