@import url('https://fonts.googleapis.com/css?family=Raleway');

$social-size: 40px;

html {
  font-family: 'Raleway', sans-serif;

  body {
    padding-left: $social-size * 3;
    padding-right: $social-size * 3;
    padding-top: $social-size;
    .main {
      .tagline {
        border: 1px solid black;
        padding: 10px;
        text-align: center;
        a {
          color: black;
          text-decoration: none;
          
        }
      }

      .button {
        padding:3px;
        margin: 10px;
        border: 1px solid red;
      }
    }

    .social-group {
      position: absolute;
      left: $social-size;
      top: $social-size;
      width: $social-size;

      .social-button{
        margin: $social-size;

        div {
          width: $social-size;
          height: $social-size;
          text-align: center;

          img {
            max-width: 100%;
            max-height: 100%;
          }
        }
      }
    }

  }
}
