
a(class="pure-menu-heading" href="/") Carter Hay
ul(class="pure-menu-list")
  li(class="pure-menu-item menu-item-divided")
    a(class="menu-link", href="https://github.com/carterhay")
      img(src="img/GitHub-Mark-120px-plus.png" alt="GitHub")
    a(class="menu-link", href="https://www.linkedin.com/in/carter-hay")
      img(src="img/In-2C-128px-R.png" alt="GitHub")
    a(class="menu-link", href="https://twitter.com/carterhay")
      img(src="img/Twitter_Social_Icon_Circle_Color.png" alt="GitHub")
  li(class="pure-menu-item menu-item-divided")
    a(class="pure-menu-link", href="/") Home
  li(class="pure-menu-item")
    a(class="pure-menu-link", href="projects.html") Projects
  li(class="pure-menu-item")
    a(class="pure-menu-link", href="about.html") About
